= form_for [:api, user, List.new] do |f|
  - if user.errors.any?
    #error_explanation
      %h2= "#{pluralize(user.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - list.errors.full_messages.each do |msg|
          %li= msg

  =hidden_field_tag :password, user.password
  =hidden_field_tag :user_id, user.id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :permissions
    = f.select :permissions, options_for_select(List.permission_options)
  .actions
    = f.submit 'Add New List', class: 'btn btn-primary'
